{% extends '_base.html' %}
{% block nav_browse %}active{% endblock %}
{% block content %}
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 70%;
        margin: 0 0 75px 0px;
      }
      #floating-panel {
        padding: 20px;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
      }
      #address {
        width: 300px;
      }
    </style>

    <h1>Browse Areas</h1>
    <div id="floating-panel">
      <input id="address" type="textbox" value="Pittsburgh, PA">
      <input id="submit" type="button" value="Search">
    </div>
    <div id="map"></div>
    <script>
      // Get the input field
      var input = document.getElementById("address");

      // Execute a function when the user releases a key on the keyboard
      input.addEventListener("keyup", function(event) {
        // Number 13 is the "Enter" key on the keyboard
        if (event.keyCode === 13) {
          // Cancel the default action, if needed
          event.preventDefault();
          // Trigger the button element with a click
          document.getElementById("submit").click();
        }
      });

      function initMap() {
        const locationList = {{ locations|safe }}

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: {lat: 40.4406, lng: -79.9959}
        });
        var geocoder = new google.maps.Geocoder();

        document.getElementById('submit').addEventListener('click', function() {
          geocodeAddress(geocoder, map);
        });

        locationList.forEach(item => {
          const location = item.address + ' ' + item.city + ' ' + item.state;
          setMarker(location)
        });

        // Add all markers based on users
        function setMarker(address) {
          let marker;
          geocoder.geocode({'address': address}, function(results, status) {
            if (status === 'OK') {
              marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location
              });
              var infoWindow = new google.maps.InfoWindow({
                content: '<div>' + address + '</div>'
              });

              marker.addListener('click', function(){
                  infoWindow.open(map, marker);
              });
            }
          });
          
        }
      }

      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_VGslruGvCNH2I8WJialgXyhqhKiUQ98&callback=initMap">
    </script>
{% endblock %}