{% extends '_base.html' %}
{% block nav_index %}active{% endblock %}
{% block content %}
<script type="text/javascript">

	function sse()
	{  		
		var myEventSource = new EventSource("{{ url_for('load_chatroom', user=current_user, other=other_user) }}");

		console.log("sse() executing")

		myEventSource.onmessage = function(e) {
			var ul = document.getElementById("list");
			var li = document.createElement("li");
  			li.appendChild(document.createTextNode(str.concat(e.data)));
  			ul.appendChild(li);
			console.log("myEventSource triggered")
		};
		/*
		otherEventSource.onmessage = function(e) {
			var ul = document.getElementById("list");
			var li = document.createElement("li");
			var str = "JS "
  			li.appendChild(document.createTextNode(str.concat(e.data)));
  			ul.appendChild(li);
			console.log("otherEventSourc triggered")
		};*/		
	}

	//populate messages using JS
	function populateMessageList(){
		console.log("populateMessageList executing");

		var ul = document.getElementById("list");

		var messages = {{ messages | tojson }};
		var curr_date = "";
		for(var i=0;i<messages.length;i++){
			var li = document.createElement("li");
			console.log("messages[i] = " + messages[i]);
			var obj = JSON.parse(messages[i]);

			var datetime = obj.time.split(", ");

			if(curr_date != datetime[0]){
				curr_date = datetime[0];
				var date_break = document.createElement("li");
				date_break.appendChild(document.createTextNode(curr_date));
				date_break.style.cssText = 'text-align:center;';
				ul.appendChild(date_break);
				ul.appendChild(document.createElement("br"));
			}

			if(obj.from_user == '{{current_user}}'){
				li.innerHTML = "<span style=\"color:blue\">" + datetime[1] + ' ' + obj.from_user + "</span> " + obj.message;
			}else{				
				li.innerHTML = "<span style=\"color:red\">" + datetime[1] + ' ' + obj.from_user + "</span> " + obj.message;
			}

			//li.classList.add("pull-left");
			ul.appendChild(li);
			ul.appendChild(document.createElement("br"));
		}

		ul.scrollTop = ul.scrollHeight;
	}
	sse();
	window.onload = populateMessageList;
</script>
<style>
	.no-bullet{
		height:500px; width:100%;
		margin-left:0px;
		padding:0;
		overflow:hidden; overflow-y:scroll;
	}

	.pull-left{ float: left; font-size: 20px;}
	.pull-right{ float: right;}

	.column{
		padding: 5px;
		vertical-align:middle;
	}
  
	/* Clear floats after image containers */
	.row{
		display: flex;
		justify-content: center;
	}

	.row::after{
		content: "";
		clear: both;
		
	}
</style>
<div class="row">
	<div class="column">
		<img src="/static/images/{{other_user_avatar}}" class="img-fluid border border-dark rounded" style="width: auto; height: 80px;" alt="Profile picture">
	</div>
	<div class="column">
		<a href="{{ url_for('profile_page', username=other_user) }}" class="text-body" style="font-size:40px">{{ other_user }}</a>
	</div>
</div>
<div class="container" style="word-wrap: break-word; border-style: solid; border-width: 1px; padding-bottom: 20px; padding-top: 20px;">
	<ul class="no-bullet" style="list-style-type:none" id="list">
	</ul>
</div>
<form method="post" action="{{ url_for('load_chatroom', user=current_user, other=other_user) }}">
    <div class="form-group" style="padding-top: 20px;">
        <!--<label for="messageInput">Type message here</label>-->
		<input type="text" name="message" class="form-control" style="width: 100%" id="messageInput">
		<button type="submit" class="btn btn-primary">Send</button>
    </div>
</form>
{% endblock %}