{% extends '_base.html' %}
{% block nav_index %}active{% endblock %}
{% block content %}
<script type="text/javascript">

	function sse()
	{  		
		var myEventSource = new EventSource("{{ url_for('load_chatroom', user=current_user, other=other_user) }}");

		console.log("sse() executing")

		myEventSource.onmessage = function(e) {
			var ul = document.getElementById("list");
			var li = document.createElement("li");
  			li.appendChild(document.createTextNode(str.concat(e.data)));
  			ul.appendChild(li);
			console.log("myEventSource triggered")
		};
		/*
		otherEventSource.onmessage = function(e) {
			var ul = document.getElementById("list");
			var li = document.createElement("li");
			var str = "JS "
  			li.appendChild(document.createTextNode(str.concat(e.data)));
  			ul.appendChild(li);
			console.log("otherEventSourc triggered")
		};*/
	}
	sse();
</script>
<h2>Chatroom placeholder for {{current_user}} and {{other_user}}</h2>
<div class="container" style="word-wrap: break-word;">
	<style>
		.no-bullet{
			height:500px; width:100%;
			overflow:hidden; overflow-y:scroll;
		}
	</style>
	<ul class = "no-bullet" style="list-style-type:none" id="list">
		{% for key in messages %}
			<li id="m{{loop.index}}">{{ key }}</li>
		{% endfor %}
	</ul>
</div>
<!--
<div class="container" style="word-wrap: break-word;">
	{% for key in messages %}
	<div class="row bg-light rounded mt-3">
		<div class="col-sm-5 mt-3">
			<p>{{ key }}</p>
		</div>
	</div>
	{% endfor %}
</div>
-->
<form method="post" action="{{ url_for('load_chatroom', user=current_user, other=other_user) }}">
    <div class="form-group">
        <label for="messageInput">Type message here</label>
        <input type="text" name="message" class="form-control" id="messageInput">
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>
{% endblock %}