{% extends '_base.html' %}
{% block head %}
	{{ super() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/image-picker.min.js"></script>
{% endblock %}
{% block content %}

<form method="post" action="/updateprofile">
    <div>
        <label for="avatarInput">Profile Image</label>
        <select class="image-picker" name="avatar" id="avatarInput">
            <option data-img-src="/static/images/mario.png" data-img-class="first" data-img-alt="Mario" value="mario.png" {% if avatar == 'mario.png' %} selected="selected"{% endif %}/>
            <option data-img-src="/static/images/luigi.png" data-img-alt="Luigi" value="luigi.png" {% if avatar == 'luigi.png' %} selected="selected"{% endif %}/>
            <option data-img-src="/static/images/peach.png" data-img-alt="Peach" value="peach.png" {% if avatar == 'peach.png' %} selected="selected"{% endif %}/>
            <option data-img-src="/static/images/yoshi.png" data-img-alt="Yoshi" value="yoshi.png" {% if avatar == 'yoshi.png' %} selected="selected"{% endif %}/>
            <option data-img-src="/static/images/bowser.png" data-img-alt="Bowser" value="bowser.png" {% if avatar == 'bowser.png' %} selected="selected"{% endif %}/>
            <option data-img-src="/static/images/dk.png" data-img-alt="Donkey Kong" value="dk.png" {% if avatar == 'dk.png' %} selected="selected"{% endif %}/>
            <option data-img-src="/static/images/mushroom.png" data-img-alt="Mushroom" value="mushroom.png" {% if avatar == 'mushroom.png' %} selected="selected"{% endif %}/>
            <option data-img-src="/static/images/flower.png" data-img-alt="Flower" value="flower.png" {% if avatar == 'flower.png' %} selected="selected"{% endif %}/>
            <option data-img-src="/static/images/star.png" data-img-alt="Star" value="star.png" {% if avatar == 'star.png' %} selected="selected"{% endif %}/>
            <option data-img-src="/static/images/egg.png" data-img-alt="Egg" value="egg.png" {% if avatar == 'egg.png' %} selected="selected"{% endif %}/>
            <option data-img-src="/static/images/block.png" data-img-alt="Block" value="block.png" {% if avatar == 'block.png' %} selected="selected"{% endif %}/>
            <option data-img-src="/static/images/link.png" data-img-alt="Link" value="link.png" {% if avatar == 'link.png' %} selected="selected"{% endif %}/>
            <option data-img-src="/static/images/linklogo.png" data-img-alt="Link Logo" value="linklogo.png" {% if avatar == 'linklogo.png' %} selected="selected"{% endif %}/>
            <option data-img-src="/static/images/ac1.png" data-img-alt="Animal Crossing 1" value="ac1.png" {% if avatar == 'ac1.png' %} selected="selected"{% endif %}/>
            <option data-img-src="/static/images/ac2.png" data-img-alt="Animal Crossing 2" value="ac2.png" {% if avatar == 'ac2.png' %} selected="selected"{% endif %}/>
            <option data-img-src="/static/images/ac3.png" data-img-alt="Animal Crossing 3" value="ac3.png" {% if avatar == 'ac3.png' %} selected="selected"{% endif %}/>
            <option data-img-src="/static/images/pikmin1.png" data-img-alt="Red Pikmin" value="pikmin1.png" {% if avatar == 'pikmin1.png' %} selected="selected"{% endif %}/>
            <option data-img-src="/static/images/pikmin2.png" data-img-alt="Blue Pikmin" value="pikmin2.png" {% if avatar == 'pikmin2.png' %} selected="selected"{% endif %}/>
            <option data-img-src="/static/images/pikmin3.png" data-img-alt="Yellow Pikmin" value="pikmin3.png" {% if avatar == 'pikmin3.png' %} selected="selected"{% endif %}/>
            <option data-img-src="/static/images/hat.png" data-img-alt="Hat" value="hat.png" {% if avatar == 'hat.png' %} selected="selected"{% endif %}/>
            <option data-img-src="/static/images/goomba.png" data-img-alt="Goomba" value="goomba.png" {% if avatar == 'goomba.png' %} selected="selected"{% endif %}/>
            <option data-img-src="/static/images/dino.png" data-img-alt="Dino" value="dino.png" {% if avatar == 'dino.png' %} selected="selected"{% endif %}/>
            <option data-img-src="/static/images/kirby.png" data-img-alt="Kirby" value="kirby.png" {% if avatar == 'kirby.png' %} selected="selected"{% endif %}/>
            <option data-img-src="/static/images/meta.png" data-img-alt="Meta Knight" value="meta.png" {% if avatar == 'meta.png' %} selected="selected"{% endif %}/>
            <option data-img-src="/static/images/toad.png" data-img-alt="Toad" data-img-class="last" value="toad.png" {% if avatar == 'toad.png' %} selected="selected"{% endif %}/>
         </select>
    </div>
    <div class="form-group">
        <label for="firstNameInput">First Name</label>
        <input type="text" name="firstname" class="form-control" id="firstNameInput" value="{{first_name}}">
    </div>
    <div class="form-group">
        <label for="lastNameInput">Last Name</label>
        <input type="text" name="lastname" class="form-control" id="lastNameInput" value="{{last_name}}">
    </div>
    <div class="form-group">
        <label for="ageInput">Age</label>
        <input type="number" name="age" class="form-control" id="ageInput" value="{{age_text}}">
    </div>
    <div class="form-group">
        <label for="genderInput">Gender</label>
        <input type="text" name="gender" class="form-control" id="genderInput" value="{{gender_text}}">
    </div>
    <div class="form-group">
        <label for"addressInput">Address</label>
        <input type="text" name="address" class="form-control" id="addressInput" value="{{address}}">
    </div>
    <div class="form-group">
        <label for="cityInput">City</label>
        <input type="text" name="city" class="form-control" id="cityInput" value={{city_text}}>
    </div>
    <div class="form-group">
        <label for="stateInput">State</label>
        <select name="state" class="form-control" id="stateInput">
            <option value="">N/A</option>
            <option value="AK" {% if state == 'AK' %} selected="selected" {% endif %}>Alaska</option>
            <option value="AL" {% if state == 'AL' %} selected="selected" {% endif %}>Alabama</option>
            <option value="AR" {% if state == 'AR' %} selected="selected" {% endif %}>Arkansas</option>
            <option value="AZ" {% if state == 'AZ' %} selected="selected" {% endif %}>Arizona</option>
            <option value="CA" {% if state == 'CA' %} selected="selected" {% endif %}>California</option>
            <option value="CO" {% if state == 'CO' %} selected="selected" {% endif %}>Colorado</option>
            <option value="CT" {% if state == 'CT' %} selected="selected" {% endif %}>Connecticut</option>
            <option value="DC" {% if state == 'DC' %} selected="selected" {% endif %}>District of Columbia</option>
            <option value="DE" {% if state == 'DE' %} selected="selected" {% endif %}>Delaware</option>
            <option value="FL" {% if state == 'FL' %} selected="selected" {% endif %}>Florida</option>
            <option value="GA" {% if state == 'GA' %} selected="selected" {% endif %}>Georgia</option>
            <option value="HI" {% if state == 'HI' %} selected="selected" {% endif %}>Hawaii</option>
            <option value="IA" {% if state == 'IA' %} selected="selected" {% endif %}>Iowa</option>
            <option value="ID" {% if state == 'ID' %} selected="selected" {% endif %}>Idaho</option>
            <option value="IL" {% if state == 'IL' %} selected="selected" {% endif %}>Illinois</option>
            <option value="IN" {% if state == 'IN' %} selected="selected" {% endif %}>Indiana</option>
            <option value="KS" {% if state == 'KS' %} selected="selected" {% endif %}>Kansas</option>
            <option value="KY" {% if state == 'KY' %} selected="selected" {% endif %}>Kentucky</option>
            <option value="LA" {% if state == 'LA' %} selected="selected" {% endif %}>Louisiana</option>
            <option value="MA" {% if state == 'MA' %} selected="selected" {% endif %}>Massachusetts</option>
            <option value="MD" {% if state == 'MD' %} selected="selected" {% endif %}>Maryland</option>
            <option value="ME" {% if state == 'ME' %} selected="selected" {% endif %}>Maine</option>
            <option value="MI" {% if state == 'MI' %} selected="selected" {% endif %}>Michigan</option>
            <option value="MN" {% if state == 'MN' %} selected="selected" {% endif %}>Minnesota</option>
            <option value="MO" {% if state == 'MO' %} selected="selected" {% endif %}>Missouri</option>
            <option value="MS" {% if state == 'MS' %} selected="selected" {% endif %}>Mississippi</option>
            <option value="MT" {% if state == 'MT' %} selected="selected" {% endif %}>Montana</option>
            <option value="NC" {% if state == 'NC' %} selected="selected" {% endif %}>North Carolina</option>
            <option value="ND" {% if state == 'ND' %} selected="selected" {% endif %}>North Dakota</option>
            <option value="NE" {% if state == 'NE' %} selected="selected" {% endif %}>Nebraska</option>
            <option value="NH" {% if state == 'NH' %} selected="selected" {% endif %}>New Hampshire</option>
            <option value="NJ" {% if state == 'NJ' %} selected="selected" {% endif %}>New Jersey</option>
            <option value="NM" {% if state == 'NM' %} selected="selected" {% endif %}>New Mexico</option>
            <option value="NV" {% if state == 'NV' %} selected="selected" {% endif %}>Nevada</option>
            <option value="NY" {% if state == 'NY' %} selected="selected" {% endif %}>New York</option>
            <option value="OH" {% if state == 'OH' %} selected="selected" {% endif %}>Ohio</option>
            <option value="OK" {% if state == 'OK' %} selected="selected" {% endif %}>Oklahoma</option>
            <option value="OR" {% if state == 'OR' %} selected="selected" {% endif %}>Oregon</option>
            <option value="PA" {% if state == 'PA' %} selected="selected" {% endif %}>Pennsylvania</option>
            <option value="PR" {% if state == 'PR' %} selected="selected" {% endif %}>Puerto Rico</option>
            <option value="RI" {% if state == 'RI' %} selected="selected" {% endif %}>Rhode Island</option>
            <option value="SC" {% if state == 'SC' %} selected="selected" {% endif %}>South Carolina</option>
            <option value="SD" {% if state == 'SD' %} selected="selected" {% endif %}>South Dakota</option>
            <option value="TN" {% if state == 'TN' %} selected="selected" {% endif %}>Tennessee</option>
            <option value="TX" {% if state == 'TX' %} selected="selected" {% endif %}>Texas</option>
            <option value="UT" {% if state == 'UT' %} selected="selected" {% endif %}>Utah</option>
            <option value="VA" {% if state == 'VA' %} selected="selected" {% endif %}>Virginia</option>
            <option value="VT" {% if state == 'VT' %} selected="selected" {% endif %}>Vermont</option>
            <option value="WA" {% if state == 'WA' %} selected="selected" {% endif %}>Washington</option>
            <option value="WI" {% if state == 'WI' %} selected="selected" {% endif %}>Wisconsin</option>
            <option value="WV" {% if state == 'WV' %} selected="selected" {% endif %}>West Virginia</option>
            <option value="WY" {% if state == 'WY' %} selected="selected" {% endif %}>Wyoming</option>
        </select>
    </div>
    <div class="form-group">
        <label for="aboutInput">About</label>
        <textarea type="text" name="about" class="form-control" placeholder="Write a brief summary about yourself that you want people to see at first glance (140 character limit)." id="aboutInput" rows="5">{{about_text}}</textarea>
    </div>
    <div class="form-group">
        <label for="bioInput">Bio</label>
        <textarea type="text" name="bio" class="form-control" placeholder="Write a summary about yourself and include any extra information that you think is important." id="bioInput" rows="10">{{bio_text}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script> 
    $('.image-picker').imagepicker();
    const images = document.getElementsByClassName('image_picker_image');
    for(let i = 0; i < images.length; i++) {
        images[i].style.height = "100px";
        images[i].style.cursor = "pointer";
    }
</script>
{% endblock %}