{% extends '_base.html' %}
{% block head %}
	{{ super() }}
	<script type="text/javascript" src="/static/js/like_unlike.js" async></script>
{% endblock %}
{% block nav_profile %}
	{% if is_owner %}
		active
	{% endif %}
{% endblock %}
{% block content %}
{% if is_owner %}
    <a class="btn btn-primary" style="margin:0 0 20px 0;" href="{{ url_for('editprofile') }}">Edit Profile</a>
{% endif %}
<div class="container bg-light rounded" style="word-wrap: break-word;">
	<div class="row">
		<div class="col-sm-4 mt-3"><img src="/static/images/{{avatar}}" class="img-fluid border border-dark rounded" alt="Profile picture"></div>
		<div class="col-sm-8 mt-3">
			<div class="row">
				<div class="col-sm-12">
					<p><span class="font-weight-bold">Name: </span>{{name_text}}</p>
				</div>
				<div class="col-sm-12">
					<p><span class="font-weight-bold">Gender: </span>{{gender_text}}</p>
				</div>
				<div class="col-sm-12">
					<p><span class="font-weight-bold">Age: </span>{{age_text}}</p>
				</div>
                <div class="col-sm-12">
					<p><span class="font-weight-bold">Address: </span>{{address}}</p>
				</div>
				<div class="col-sm-12">
					<p><span class="font-weight-bold">City: </span>{{city_text}}</p>
				</div>
                <div class="col-sm-12">
					<p><span class="font-weight-bold">State: </span>{{state_text}}</p>
				</div>
				<div class="col-sm-12">
					<p><span class="font-weight-bold">About: </span>{{about_text}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm"><br><h3>Bio:</h3>{{bio_text}}</div>
	</div>
	<div class="row">
		<div class="col-sm">
		{% if is_owner %}
		{% elif is_liked %}
			<button id="like_unlike_button" onclick="unlike_js('{{other_username}}')" class="btn btn-warning">Unlike</button>
		{% else %}
			<button id="like_unlike_button" onclick="like_js('{{other_username}}')" class="btn btn-primary">Like</button>
		{% endif %}
		</div>
	</div>
</div>
{% endblock %}