{% extends '_base.html' %}
{% block nav_signup %}active{% endblock %}
{% block content %}
<script type="text/javascript">

  function checkForm(form)
  {
    if(form.username.value == "") {
      alert("Error: Username cannot be blank");
      form.username.focus();
      return false;
    }
    re = /^\w+$/;
    if(!re.test(form.username.value)) {
      alert("Error: Username must contain only letters, numbers and underscores. It cannot contain spaces");
      form.username.focus();
      return false;
    }

    if(form.password1.value != "" && form.password1.value == form.password2.value) {
      if(form.password1.value.length < 6) {
        alert("Error: Password must contain at least six characters");
        form.password1.focus();
        return false;
      }
      if(form.password1.value == form.username.value) {
        alert("Error: Password must be different from Username");
        form.password1.focus();
        return false;
      }
      re = /[0-9]/;
      if(!re.test(form.password1.value)) {
        alert("Error: password must contain at least one number (0-9)");
        form.password1.focus();
        return false;
      }
      re = /[a-z]/;
      if(!re.test(form.password1.value)) {
        alert("Error: password must contain at least one lowercase letter (a-z)");
        form.password1.focus();
        return false;
      }
      re = /[A-Z]/;
      if(!re.test(form.password1.value)) {
        alert("Error: password must contain at least one uppercase letter (A-Z)");
        form.password1.focus();
        return false;
      }
    } else {
      alert("Error: Please check that you've entered the same password twice");
      form.password1.focus();
      return false;
    }
    if(form.email.value == "") {
        alert("Error: Please enter an email address");
        return false;
    }
    re = /\S+@\S+\.\S+/;
    if(!re.test(form.email.value)) {
        alert("Error: Please enter a valid email address");
        return false;
    }
    if(!form.terms.checked) {
        alert("Please accept the terms and conditions to proceed");
        return false;
    }
    return true;
  }

</script>
<form method="post" action="/register" onsubmit="return checkForm(this);">
    <div class="form-group">
        <label for="usernameInput">Username</label>
        <input type="text" name="username" class="form-control" id="usernameInput">
    </div>
    <div class="form-group">
        <label for="emailInput">Email address</label>
        <input type="email" name="email" class="form-control" id="emailInput" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="passwordInput1">Password</label>
        <input type="password" name="password1" class="form-control" id="passwordInput1" aria-describedby="passHelp">
        <small id="passHelp" class="form-text text-muted">Must contain at least: 6 characters, 1 uppercase, 1 lowercase, 1 number</small>
    </div>
    <div class="form-group">
        <label for="passwordInput2">Repeat Password</label>
        <input type="password" name="password2" class="form-control" id="passwordInput2">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="termsCheck" name="terms">
        <label class="form-check-label" for="termsCheck">I accept the terms and conditions</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}